.story {
  position: relative;
  background: linear-gradient(to right, #0b0b0b, #161616);
  color: #fff;
  padding: 4rem 0;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -10%;
    width: 400px;
    height: 400px;
    background: radial-gradient(
      circle at top right,
      rgba(229, 9, 20, 0.25),
      transparent 70%
    );
    filter: blur(100px);
    z-index: 0;
  }

  h2 {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    font-weight: 700;
    letter-spacing: 1px;
  }

  p {
    color: #ccc;
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }

  .highlights {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 1.5rem;
    cursor: pointer;

    div {
      flex: 1;
      min-width: 140px;
      background: linear-gradient(
        135deg,
        rgba(229, 9, 20, 0.15),
        rgba(255, 255, 255, 0.05)
      );
      padding: 15px 25px;
      border-radius: 10px;
      text-align: center;
      font-weight: 600;
      color: #eee;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease;

      strong {
        display: block;
        font-size: 1.5rem;
        color: #e50914;
        text-shadow: 0 0 10px rgba(229, 9, 20, 0.6);
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 25px rgba(229, 9, 20, 0.3);
        /* background: linear-gradient(
          135deg,
          rgba(229, 9, 20, 0.25),
          rgba(255, 255, 255, 0.08)
        ); */
      }
    }
  }

  img {
    transform: scale(0.98);
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 15px 45px rgba(229, 9, 20, 0.4);
    }
  }

  @media (max-width: 768px) {
    padding: 4rem 0;
    text-align: center;

    h2 {
      font-size: 2rem;
    }

    .highlights {
      justify-content: center;
    }

    img {
      margin-top: 2rem;
    }
  }
}
