<section class="gallery section text-white text-center">
    <div class="container">
        <h2 class="fw-bold text-uppercase mb-5">
            Adventure <span class="text-danger">Gallery</span>
        </h2>

        <div class="gallery-slider-wrapper" #sliderWrap>
            <div class="gallery-track p-4" #galleryTrack> <!-- p-4 remove -->
                <div class="gallery-card" *ngFor="let item of galleryItems">
                    <img [src]="item.image" [alt]="item.title + ' by Subhan Enterprises'" />
                    <div class="overlay">
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>